@model Model.EF.Product

@{
    ViewBag.Title = "Thêm Mới Sản Phẩm";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    Sản Phẩm
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();

            var finder = new CKFinder();

            finder.selectActionFunction = function (url) {
                $('#Image').val(url);
                $('#image').prop('src', url);
            };

            finder.popup();
        })

        var editor = CKEDITOR.replace('Detail');
    </script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Thêm Mới</h6>
    </div>
    <div class="card-body pb-0">
        @using (Html.BeginForm("Create", "Product", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.MetaTitle)
            <input type="number" name="ID" id="ID" value="0" hidden />

            <div class="form-group">
                <label>Tên sản phẩm</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-group">
                <label>Mô tả</label>
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class="form-group">
                <label>Ảnh</label>
                <div class="text-center">
                    <div class="mb-4">
                        <img src="@(Model != null ? Model.Image : "/Images/no-watch-cover.png")" width="250" height="250" alt="banner" class="rounded border" id="image" />
                        @Html.HiddenFor(model => model.Image)
                    </div>
                    <div>
                        <button type="button" class="btn btn-icon-split btn-primary" id="btnSelectImage">
                            <span class="icon text-white-50 fw-bold">
                                <i class="fas fa-image fa-fw"></i>
                            </span>
                            <span class="text">Chọn ảnh</span>
                        </button>
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Image)
            </div>

            <div class="form-group">
                <label>Nhiều ảnh hơn</label>
                @Html.TextBoxFor(model => model.MoreImages, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MoreImages)
            </div>

            <div class="form-group">
                <label>Giá</label>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>

            <div class="form-group">
                <label>Giá khuyến mãi</label>
                @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.PromotionPrice)
            </div>

            <div class="form-group">
                <label>Số lượng</label>
                @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>

            <div class="form-group">
                <label>Danh mục</label>
                @Html.DropDownListFor(model => model.CategoryID, null, new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>

            <div class="form-group">
                <label>Bảo hành (tháng)</label>
                @Html.TextBoxFor(model => model.Warranty, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.Warranty)
            </div>

            <div class="form-group">
                <label>Top Hot</label>
                @Html.TextBoxFor(model => model.TopHot, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.TopHot)
            </div>

            <div class="form-group">
                <label>Nội dung</label>
                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Detail)
            </div>

            <div class="form-group">
                <label>Meta Keyworks</label>
                @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaKeywords)
            </div>

            <div class="form-group">
                <label>Meta Description</label>
                @Html.TextBoxFor(model => model.MetaDescriptions, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaDescriptions)
            </div>

            <div class="form-group">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                    <label class="form-check-label" for="Status">
                        Kích hoạt
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-icon-split btn-primary">
                    <span class="icon text-white-50 fw-bold">
                        <i class="fas fa-floppy-disk fa-fw"></i>
                    </span>
                    <span class="text">Lưu dữ liệu</span>
                </button>
            </div>
        }
    </div>
</div>
