@model Model.EF.Product
@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Category = (Model.EF.ProductCategory)ViewBag.Category;
}

<div class="p-5">
    <div class="card shadow o-hidden">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex justify-content-center p-5">
                    <img src="@Model.Image" style="width: 300px" class="rounded" />
                </div>
            </div>
            <div class="col">
                <div class="p-5">
                    <div>
                        <h4 class="text-center">
                            @Model.Name
                        </h4>
                    </div>

                    <div class="border border-warning rounded mt-4 p-2">
                        <div class="border-bottom border-warning pb-2 mb-2">
                            Mua online với nhiều chương trình ưu đãi
                        </div>
                        <div class="border-bottom border-warning pb-2 mb-2">
                            Miễn phí vận chuyển trên toàn quốc
                        </div>
                        <div class="border-bottom border-warning pb-2 mb-2">
                            Bảo hành chính hãng
                        </div>
                        <div class="border-bottom border-warning pb-2 mb-2">
                            Đổi hàng miễn phí trong 7 ngày khi chưa sử dụng
                        </div>
                        <div>
                            Tặng khăn lau & Giảm 50% cho 2 lần thay dây da đồng hồ tiếp theo
                        </div>

                    </div>

                    <div class="mt-4 d-flex justify-content-center">
                        <form action="/Them-gio-hang" method="get">
                            <input style="display: none" name="productid" id="productid" value="@Model.ID"/>
                            <input style="display: none" name="quantity" id="quantity" type="number" value="1">

                            <button class="btn btn-icon-split btn-primary" type="submit">
                                <span class="icon text-white-50">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </span>

                                @if (Model.PromotionPrice > 0)
                                {
                                    <span class="text">
                                        @Model.PromotionPrice.ToString("N0")đ
                                        <span class="text-decoration-line-through ms-2" style="font-size: 8pt">@Model.Price.ToString("N0")đ</span>
                                    </span>
                                }
                                else
                                {
                                    <span class="text">
                                        @Model.Price.ToString("N0")đ
                                    </span>
                                }
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mt-5">
        <div class="card-header bg-white py-3">
            <h6 class="fw-bold m-0">Thông Tin Sản Phẩm</h6>
        </div>
        <div class="card-body pb-0">
            @Html.Raw(Model.Detail)
        </div>
    </div>
</div>
