@model Model.EF.Menu

@{
    ViewBag.Title = "Thêm mới Menu";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    Menu
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm mới</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Menu", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Tên Menu</label>
                @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text)
            </div>
            <div class="form-group">
                <label>Đường dẫn</label>
                @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Link)
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Thứ tự xuất hiện</label>
                        @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DisplayOrder)
                    </div>
                    <div class="col">
                        <label>Target</label>
                        @Html.DropDownListFor(model => model.Target, new SelectList(new[] { "_blank", "_self" }), new { @class = "form-control", })
                        @Html.ValidationMessageFor(model => model.Target)
                    </div>
                    <div class="col">
                        <label>Loại Menu</label>
                        @Html.DropDownListFor(model => model.TypeID, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TypeID)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(model => model.Status, new { @class = "custom-control-input", @id = "Status" })
                    <label class="custom-control-label" for="Status">Kích hoạt</label>
                </div>
            </div>
            <div class="form-group">
                <center>
                    <input type="submit" value="Hoàn thành" class="btn btn-primary" />
                </center>
            </div>
        }
    </div>
</div>
