@model PagedList.IPagedList<Model.EF.Menu>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    Menu
}
@section jsFooter{
    <script src="~/JS/Admin/menuController.js"></script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">
            Danh Sách
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive p-2">
            <a href="/admin/Menu/Create" class="btn btn-primary btn-icon-split mb-3">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Thêm mới</span>
            </a>

            @using (Html.BeginForm("Index", "Menu", FormMethod.Get))
            {
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Tên menu" name="searchString" value="@ViewBag.SearchString">
                    <button class="btn btn-icon-split btn-primary" type="submit">
                        <span class="icon text-white-50">
                            <i class="fas fa-search fa-sm"></i>
                        </span>
                        <span class="text">Tìm kiếm</span>
                    </button>
                </div>
            }

            @if (Model.Count > 0)
            {
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr align="center">
                            <th>Tên</th>
                            <th>Đường dẫn</th>
                            <th>Trạng thái</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Text</td>
                                <td>@item.Link</td>
                                <td>
                                    <div class="form-check form-switch ckb-status" data-id="@item.ID">
                                        <input @(item.Status ? "checked" : null) class="form-check-input" type="checkbox" role="switch" id="ckbStatus-@item.ID">
                                        <label class="form-check-label" for="ckbStatus-@item.ID">@(item.Status == true ? "Kích hoạt" : "Khóa")</label>
                                    </div>
                                </td>

                                <td align="center">
                                    <a href="/Admin/Menu/Edit/@item.ID" class="btn btn-primary btn-circle btn-sm" title="Sửa">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="/Admin/Menu/Delete/@item.ID" class="btn btn-danger btn-circle btn-sm" title="Xóa" data-bs-toggle="modal" data-bs-target="#deleteEntity-@item.ID">
                                        <i class="fas fa-trash"></i>
                                    </a>

                                    <div class="modal fade" id="deleteEntity-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body text-start">Xóa menu này khỏi CSDL?</div>
                                                <div class="modal-footer p-2">
                                                    <button class="btn btn-icon-split btn-secondary btn-sm" data-bs-dismiss="modal">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-times fa-sm"></i>
                                                        </span>
                                                        <span class="text">Hủy</span>
                                                    </button>
                                                    <a class="btn btn-icon-split btn-danger btn-sm" href="/Admin/Menu/Delete/@item.ID">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-trash fa-sm"></i>
                                                        </span>
                                                        <span class="text">Xóa</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                if (Model.PageCount > 1)
                {
                    <div class="mb-2 text-center">Trang @Model.PageNumber / @Model.PageCount</div>

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions
                    {
                       MaximumPageNumbersToDisplay = 5,
                       ContainerDivClasses = new string[] { "pagination-container d-flex justify-content-center" },
                       UlElementClasses = new string[] { "pagination mb-0" },
                       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                       DisplayLinkToNextPage = PagedListDisplayMode.Always,
                       LinkToPreviousPageFormat = "Trước",
                       LinkToNextPageFormat = "Sau",
                       LinkToFirstPageFormat = "Đầu",
                       LinkToLastPageFormat = "Cuối"
                    })
                }
            }
            else
            {
                <div class="alert alert-danger mb-0">Không có dữ liệu</div>
            }
        </div>
    </div>
</div>