@model WatchShop.Models.LoginModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng ký";
}
<section class="login_part section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                            ĐĂNG NHẬP
                        </h3>


                        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "row contact_form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-12 form-group p_star">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>

                            if (ViewBag.Success != null)
                            {
                                <div class="col-md-12 form-group p_star">
                                    <div class="alert alert-success">@ViewBag.Success</div>
                                </div>
                            }

                            <div class="col-md-12 form-group p_star">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Tài khoản" })
                            </div>
                            <div class="col-md-12 form-group p_star">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" })
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <button class="btn btn-primary btn-user btn-block">
                                    Đăng Nhập
                                </button>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <a href="/User/LoginFacebook"style="color: white" class="btn btn-primary btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập bằng Facebook!
                                </a>
                            </div>
                        }


                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>