@model Model.RegisterModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng ký";
}

<div class="container">
    <div class="py-5">
        <div class="card shadow border-0 m-5 o-hidden">
            <div class="card-body p-0">
                <div class="row g-0">
                    <div class="col-lg-6 d-none d-lg-block" style="background: url(/Images/watch-background.jpg); background-position: center; background-size: cover;">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="bg-white border-0 pt-5">
                                <h6 class="text-center fw-bold">ĐĂNG KÝ</h6>
                            </div>
                            <div class="mx-auto pb-5">
                                <div class="text-center mb-5 mt-3">
                                    <img src="~/Images/no-avatar.png" alt="user" class="rounded-circle" />
                                </div>
                                @using (Html.BeginForm("Register", "User", FormMethod.Post))
                                {
                                    Html.AntiForgeryToken();

                                    if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-danger">@ViewBag.Error</div>
                                    }
                                    if (ViewBag.Success != null)
                                    {
                                        <div class="alert alert-primary">@ViewBag.Success</div>
                                    }

                                    Html.HiddenFor(model => model.Username);
                                    <div class="form-group">
                                        <label>
                                            <i class="fas fa-lock me-2"></i>
                                            Mật khẩu
                                            <span class="text-danger ms-2">(*)</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                                        <p>@Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <i class="fas fa-lock me-2"></i>
                                            Nhập lại mật khẩu
                                            <span class="text-danger ms-2">(*)</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password" })
                                        <p>@Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <i class="fas fa-id-card me-2"></i>
                                            Họ tên
                                            <span class="text-danger ms-2">(*)</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        <p>@Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <i class="fas fa-phone me-2"></i>
                                            Số điện thoại
                                            <span class="text-danger ms-2">(*)</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                        <p>@Html.ValidationMessageFor(model => model.Phone, null, new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <i class="fas fa-envelope me-2"></i>
                                            Email
                                            <span class="text-danger ms-2">(*)</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        <p>@Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <i class="fas fa-home"></i>
                                            Địa chỉ
                                            <span class="text-danger ms-2">(*)</span>
                                        </label>
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                        <p>@Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })</p>
                                    </div>
                                    <div class="form-group mt-4">
                                        <div>
                                            <button class="btn btn-primary btn-block text-center mb-3">
                                                <i class="fas fa-pen-to-square me-2"></i>Đăng ký
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>