@model List<Model.CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/JS/Client/cartController.js"></script>
}

<div class="p-5">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @Html.Raw(TempData["AlertMessage"])
        </div>
    }

    <div class="card shadow">
        <div class="card-header py-3 bg-white">
            <h6 class="fw-bold m-0">Giỏ Hàng</h6>
        </div>
        <div class="card-body">
            @if (Model.Count() > 0)
            {
                <table width="100%" class="table-bordered table-light" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr align="center">
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Tổng tiền</th>
                            <th>Công cụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="@item.Product.Image" width="50" height="50" alt="@item.Product.Name" />
                                        <div class="my-auto">
                                            @item.Product.Name
                                        </div>
                                    </div>
                                </td>
                                <td class="p-2">
                                    <input class="txtQuantity form-control" type="text" min="0" max="100" data-id="@item.Product.ID" value="@item.Quantity" />
                                </td>
                                <td>

                                    @if (item.Product.PromotionPrice == 0)
                                    {
                                        <span>@(item.Product.Price.ToString("N0"))đ</span>
                                    }
                                    else
                                    {
                                        <span>@(item.Product.PromotionPrice.ToString("N0"))đ</span>
                                    }

                                </td>
                                <td>
                                    @if (item.Product.PromotionPrice == 0)
                                    {
                                        <span>@((item.Product.Price * item.Quantity).ToString("N0"))đ</span>
                                    }
                                    else
                                    {
                                        <span>@((item.Product.PromotionPrice * item.Quantity).ToString("N0"))đ</span>
                                    }
                                </td>
                                <td align="center">
                                    <a href="#" data-id="@item.Product.ID" class="btn btn-danger btn-circle btn-sm btn-delele-cart"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-primary btn-icon-split me-3" id="btnUpdate" href="#">
                        <span class="icon text-white-50">
                            <i class="fas fa-cart-arrow-down"></i>
                        </span>
                        <span class="text">
                            Cập nhật giỏ hàng
                        </span>
                    </a>
                    <button id="btnDeleteAll" class="btn btn-danger btn-icon-split me-3">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">
                            Xóa toàn bộ
                        </span>
                    </button>
                    <a class="btn btn-primary btn-icon-split me-3" href="/">
                        <span class="icon text-white-50">
                            <i class="fas fa-bag-shopping"></i>
                        </span>
                        <span class="text">
                            Tiếp tục mua hàng
                        </span>
                    </a>
                    <a class="btn btn-primary btn-icon-split" href="/Thanh-toan">
                        <span class="icon text-white-50">
                            <i class="fa-brands fa-cc-apple-pay"></i>
                        </span>
                        <span class="text">
                            Kiểm tra thanh toán
                        </span>
                    </a>
                </div>
            }
            else
            {
                <div class="alert alert-danger" style="margin: 10px">Chưa có sản phẩm trong giỏ hàng</div>
            }
        </div>
    </div>
</div>
