
@model Model.ViewModel.OrderViewModel

@{
    ViewBag.Title = "Báo cáo thống kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listTopProductByPrice = (List<Model.ViewModel.ProductViewModel>)ViewBag.listTopProductByPrice;
    var listTopProductByQuantity = (List<Model.ViewModel.ProductViewModel>)ViewBag.listTopProductByQuantity;
    int Thang = (int)ViewBag.Thang;
    int Nam = (int)ViewBag.Nam;
    string FilterType = @ViewBag.FilterType;
    var hide = (FilterType == "Năm") ? "style = display:none" : "";
}
@section Header{
    Thống kê
}
@section jsFooter{
    <script src="~/JS/Chart.bundle.min.js"></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
              prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
              sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
              dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
              s = '',
              toFixedFix = function (n, prec) {
                  var k = Math.pow(10, prec);
                  return '' + Math.round(n * k) / k;
              };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        // Area Chart Example
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                @Html.Raw(ViewBag.labelString)
                datasets: [{
                    label: "Doanh thu",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,

                    @ViewBag.dataString

                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return number_format(value) + "đ";
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + "đ";
                        }
                    }
                }
            }
        });

    </script>
}
<style>
    .form-title {
        display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: #6e707e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d1d3e2;
        border-right: 0;
        border-radius: 6px 0 0 6px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 border-start border-4 border-primary border-start shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs fw-bold text-primary text-uppercase mb-1">Doanh Thu (Năm @Nam)</div>
                        <div class="h5 mb-0 fw-bold text-gray-800">@(ViewBag.PriceTotalYear)</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card  border-0 border-start border-4 border-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs fw-bold text-success text-uppercase mb-1">Doanh thu (Tháng @(Thang != null ? Thang : DateTime.Now.Month))</div>
                        <div class="h5 mb-0 fw-bold text-gray-800">@ViewBag.PriceTotalMonth</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card  border-0 border-start border-4 border-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs fw-bold text-info text-uppercase mb-1">Đơn hàng (Tháng @(Thang != null ? Thang : DateTime.Now.Month))</div>
                        <div class="h5 mb-0 mr-3 fw-bold text-gray-800">@ViewBag.OrderQuantity</div>
                    </div>
                <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pending Requests Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-0 border-start border-4 border-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-warning text-uppercase mb-1">Phản hồi (Tháng @(Thang != null ? Thang : DateTime.Now.Month))</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">@ViewBag.FeedbackQuantity</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Bộ lọc</h6>
    </div>
    <div class="card-body p-4">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div>
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-text bg-white">Lọc theo</div>
                            <select class="form-control" name="FilterType" id="FilterType">
                                @if (FilterType == "Tháng")
                                {
                                    <option selected>Tháng</option>
                                    <option>Năm</option>
                                }
                                else
                                {
                                    <option>Tháng</option>
                                    <option selected="selected">Năm</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-text bg-white">Thời gian</div>
                            <select id="Thang" name="Thang" class="form-control" @hide>
                                @for (int i = 1; i <= 12; i++)
                                {
                                    if (Thang == i)
                                    {
                                        <option selected value="@i">Tháng @i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">Tháng @i</option>
                                    }
                                }
                            </select>
                            <select id="Nam" name="Nam" class="form-control">
                                @for (int i = 2017; i <= DateTime.Now.Year; i++)
                                {
                                    if (Nam == i)
                                    {
                                        <option selected value="@i">Năm @i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">Năm @i</option>
                                    }
                                }
                            </select>

                            <button class="btn btn-icon-split btn-primary" type="submit">
                                <span class="icon text-white-50">
                                    <i class="fas fa-filter"></i>
                                </span>
                                <span class="text">Lọc</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <script>
            $("#FilterType").change(function () {
                if ($(this).find(":selected").text() == "Tháng") {
                    $("#Thang").show();
                }
                else {
                    $("#Thang").hide();
                }
            })
        </script>
    </div>
</div>

@if (listTopProductByPrice.Count() > 0)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 fw-bold text-primary">Bảng thống kê doanh thu</h6>
        </div>
        <div class="card-body p-4">
            <div class="chart-area border rounded shadow-sm">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>
}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Sản Phẩm</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="table-responsive p-2">
            <!-- Top sản phẩm bán chạy -->
            @if (listTopProductByQuantity.Count() > 0)
            {
                var i = 1;
                var j = 1;
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr><th colspan="4"><center>TOP SẢN PHẨM BÁN CHẠY</center></th></tr>
                    </thead>

                    <thead>
                        <tr align="center">
                            <th>Top</th>
                            <th>Tên sản phẩm</th>
                            <th style="width: 30%">Đã bán</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in listTopProductByQuantity)
                        {
                        <tr class="align-middle">
                            <td align="center">@(i++)</td>
                            <td align="center">
                                <div class="d-flex">
                                    <img src="@item.Image" width="40" height="40" alt="@item.Name" class="me-2" />
                                    <span class="my-auto">@item.Name</span>
                                </div>
                            </td>
                            <td align="center">@item.Quantity Chiếc</td>
                        </tr>
                        }

                    </tbody>

                </table>

                <!-- Top sản phẩm theo doanh thu -->
                <table class="table table-bordered mt-5 mb-0" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr><th colspan="4"><center>TOP SẢN PHẨM CÓ DOANH THU CAO</center></th></tr>
                    </thead>
                    <thead>
                        <tr align="center">
                            <th style="text-align:center">Top</th>
                            <th>Sản phẩm</th>
                            <th style="width: 30%">Tổng doanh thu</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in listTopProductByPrice)
                        {
                            <tr class="align-middle">
                                <td align="center">@(j++)</td>
                                <td align="center">
                                    <div class="d-flex">
                                        <img src="@item.Image" width="40" height="40" alt="@item.Name" class="me-2" />
                                        <span class="my-auto">
                                            @item.Name
                                        </span>
                                    </div>
                                <td align="center">
                                    @(item.Price.ToString("N0"))đ
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger mb-0">Không có dữ liệu</div>
            }
        </div>
    </div>
</div>