@model Model.EF.User

@{
    ViewBag.Title = "Thêm mới người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    Người Dùng
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Thêm Mới</h6>
    </div>
    <div class="card-body pb-0">
        @using (Html.BeginForm("Create", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Mật khẩu</label>
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="form-group">
                <label>Họ tên</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                <label>Số điện thoại</label>
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group">
                <label>Giới tính</label>
                @Html.DropDownListFor(model => model.Gender, new SelectList(new[] { "Nam", "Nữ" }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
            <div class="form-group">
                <label>Ngày sinh</label>
                @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @style = "width: 170px" })
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
            <div class="form-group">
                <label>Phân quyền</label>
                @Html.DropDownListFor(model => model.GroupID, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GroupID)
            </div>
            <div class="form-group">
                <label>Địa chỉ liên lạc</label>
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <div class="form-group">
                <div class="form-check">
                    @Html.CheckBoxFor(model => model.Status, new { @class = "form-check-input" })
                    <label class="form-check-label" for="Status">
                        Kích hoạt
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-icon-split btn-primary">
                    <span class="icon text-white-50 fw-bold">
                        <i class="fas fa-floppy-disk fa-fw"></i>
                    </span>
                    <span class="text">Lưu dữ liệu</span>
                </button>
            </div>
        }
    </div>
</div>
