@{
    var session = (Model.EF.User)Session[Common.CommonConstants.USER_SESSION];
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icon -->
    <link rel="icon" href="~/Images/watch-icon.png" type="image/gif" />

    <title>WatchShop - @ViewBag.Title</title>

    <!-- CSS -->
    <link href="~/Fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/CSS/bootstrap.css" rel="stylesheet">
    <link href="~/CSS/style.css" rel="stylesheet">

    <!-- Script -->
    <script src="~/JS/jquery.js"></script>

</head>
<body id="page-top">
    <div id="wrapper">
        @RenderPage("_SideBar.cshtml")
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <form class="d-none d-sm-inline-block form-inline me-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Nhập từ khóa tìm kiếm" aria-label="Search" aria-describedby="basic-addon2">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline me-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Nhập từ khóa tìm kiếm" aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            @if (session != null)
                            {
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="me-2 d-none d-lg-inline text-gray-600 small">@session.Name</span>
                                    <img class="img-profile rounded-circle" src="~/Images/no-avatar.png">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                    <a class="dropdown-item" href="/Admin/Login/Logout" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                                        Đăng xuất
                                    </a>
                                </div>
                            }
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@RenderSection("Header", required: true)</h1>
                    </div>

                    <div id="alert" class="alert @TempData["AlertType"]" @(TempData["AlertMessage"] != null ? null : "style=display:none")>
                        @TempData["AlertMessage"]
                    </div>
                    

                    @RenderBody()

                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto fw-bold">
                        <span>&copy; WatchShop @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">Đăng xuất khỏi tài khoản người quản trị?</div>
                <div class="modal-footer p-2">
                    <button class="btn btn-icon-split btn-secondary btn-sm" type="button" data-bs-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fas fa-times fa-fw"></i>
                        </span>
                        <span class="text">
                            Hủy
                        </span>
                    </button>
                    <a class="btn btn-icon-split btn-danger btn-sm" href="/Admin/Login/Logout">
                        <span class="icon text-white-50">
                            <i class="fas fa-sign-out fa-fw"></i>
                        </span>
                        <span class="text">
                            Đăng xuất
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/JS/jquery.js"></script>
    <script src="~/JS/bootstrap.bundle.js"></script>
    <script src="~/JS/Admin/alert.js"></script>
    <script src="~/CKFinder/ckfinder.js"></script>
    <script src="~/CKEditor/ckeditor.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>
