@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewContents = (List<Model.EF.Content>)ViewBag.listNewContents;
    var listNewProducts = (List<Model.EF.Product>)ViewBag.listNewProducts;
    var listFeatureProducts = (List<Model.EF.Product>)ViewBag.listFeatureProducts;
}

<div class="container-fluid p-5">
    @Html.Action("Banner", "Home")

    <div class="card shadow mt-2 mb-4">
        <div class="card-header py-3 bg-white">
            <h6 class="fw-bold m-0">Sản Phẩm Hot</h6>

        </div>
        <div class="card-body p-4">
            @if (listFeatureProducts.Count > 0)
            {
                <div class="row row-cols-1 g-4 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                    @foreach (var item in listFeatureProducts)
                    {
                        <div class="col">
                            <a href="/Chi-tiet/@item.MetaTitle-@item.ID" class="text-dark">
                                <div class="text-center p-3" style="height: 100%">
                                    <div class="mb-3" style="width: 100%; height: 250px; background: url(@item.Image); background-size: cover; background-position: 50%">
                                    </div>
                                    <div>
                                        <div style="font-size: 10pt">
                                            @item.Name
                                        </div>
                                        @if (item.PromotionPrice > 0)
                                        {
                                            <div class="fw-bold">
                                                @item.PromotionPrice.ToString("N0")đ
                                            </div>
                                            <div style="font-size: 8pt" class="text-decoration-line-through">
                                                @item.Price.ToString("N0")đ
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="fw-bold">
                                                @item.Price.ToString("N0")đ
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-danger mb-0">Không có sản phẩm!</div>
            }
        </div>
    </div>

    <div class="card shadow mt-2 mb-4">
        <div class="card-header py-3 bg-white">
            <h6 class="fw-bold m-0">Sản Phẩm Mới</h6>

        </div>
        <div class="card-body p-4">

            @if (listNewProducts.Count > 0)
            {
                <div class="row row-cols-1 g-4 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
                    @foreach (var item in listNewProducts)
                    {
                        <div class="col">
                            <a href="/Chi-tiet/@item.MetaTitle-@item.ID" class="text-dark">
                                <div class="text-center p-3" style="height: 100%">
                                    <div class="mb-3" style="width: 100%; height: 250px; background: url(@item.Image); background-size: cover; background-position: 50%">
                                    </div>
                                    <div>
                                        <div style="font-size: 10pt">
                                            @item.Name
                                        </div>
                                        @if (item.PromotionPrice > 0)
                                        {
                                            <div class="fw-bold">
                                                @item.PromotionPrice.ToString("N0")đ
                                            </div>
                                            <div style="font-size: 8pt" class="text-decoration-line-through">
                                                @item.Price.ToString("N0")đ
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="fw-bold">
                                                @item.Price.ToString("N0")đ
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-danger mb-0">Không có sản phẩm!</div>
            }
        </div>
    </div>

    <div class="card shadow mt-2">
        <div class="card-header py-3 bg-white">
            <h6 class="fw-bold m-0">Tin Tức Mới</h6>

        </div>
        <div class="card-body p-4">

            @if (listNewContents.Count > 0)
            {
                <div class="row g-4 row-cols-sm-1 row-cols-md-2 row-cols-xl-3">
                    @foreach (var item in listNewContents)
                    {
                        <div class="col">
                            <a href="/Tin-tuc/@item.MetaTitle-@item.ID" class="text-dark">
                                <div class="card o-hidden border-0 text-center" style="height: 100%">
                                    <img src="@item.Image" alt="@item.Name" style="width: 100%; height: 250px" />
                                    <div class="card-body pb-0">
                                        <h6 class="card-title">
                                            @item.Name
                                        </h6>
                                    </div>
                                    <div class="card-footer bg-white border-0 pt-0">
                                        <small>
                                            <i class="fas fa-calendar me-1"></i>@item.CreatedDate.Value.ToString("dd/MM/yyyy") -
                                            <i class="fas fa-user mx-1"></i>@item.CreatedBy
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-danger mb-0">Không có sản phẩm!</div>
            }
        </div>
    </div>
</div>

